<p>
	<strong>Title:</strong>
	<%= @article.title%>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text%>
</p>
<%= link_to 'Edit', edit_articles_path(@article) %>
<%= link_to 'Back', articles_path %>
<br><br>
<%= link_to 'Welcome Page', controller: 'welcome' %><br>
